extends layout/base

block content  
    .card-container
        each product in products
            .card
                img(src='images/user.png' width="300px" height="250px" alt=`${product.title}`)
                p=product.title
                p=product.description
                p=product.price
                p=product.ratingAverage+' ('+product.ratingQuantity+')'                   
                a(href=`/product/${product.slug}`) Details
